* {
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow-x: hidden;
}
.home {
  display: block;
  height: 100vh;
}
.portifolio {
  height: 100%;
  display: flex;
}

.menu {
  width: 20em;
  height: 100vh;
  position: fixed;
  background-color: rgb(27, 24, 24);
  border-right: 1px solid rgba(155, 40, 40, 0.699);
  z-index: 4;
  /* box-shadow: rgb(0, 0, 0) 0px 30px 60px -12px inset,
    rgb(0, 0, 0) 0px 18px 36px -18px inset; */
  transition: all 2s ease-in-out;
}

.main {
  position: absolute;
  left: 20em;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 10;
  transition: 3s ease-in-out;
}

.intro {
  /* width: 50%; */
  /* background-color: red; */
  color: white;
}

.profile {
  width: 50%;
  /* background-color: rgb(28, 172, 83); */
  margin-left: 10px;
}

.title {
  width: 14em;
  height: 10em;
  margin: auto;
  margin-top: 10em;
  color: white;
  /* background-color: chocolate; */
}

.title p {
  font-size: 50px;
  text-align: center;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}

.menu-items {
  margin-top: 2em;
}

.menu-items .ul {
  margin-left: 34px;
  list-style: none;
  height: 12em;
}

.nav {
  margin-top: 10px;
  /* border-bottom: 1px solid rgb(163, 155, 155); */
  width: 10em;
  text-align: center;
  /* transform: rotateZ(180deg); */
  transition: 0.5s ease-in-out;
}

.nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-decoration: none;
  color: turquoise;
}

.nav :hover {
  color: rgb(175, 41, 41);
}

#particles-js {
  background-color: black;
  width: 100%;
  z-index: 55;
}

/* .name {
  margin-left: 5em;
} */
.name .hello {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  margin-top: 5em;
  font-weight: lighter;
}

.name .hello i {
  color: rgb(64, 224, 208);
}

.atlas {
  font-size: 3em;
  font-family: monospace;
}

.name #developer {
  font-size: 60px;
  margin-top: 10px;
  font-weight: lighter;
  color: rgb(9, 240, 220);
  font-family: "Square Peg", cursive;
}

.profile .dp {
  background-image: url(https://mouaaddesigner.com/my_website/projects/Atlas/Atlas%20particles%20version/img/albert-dera-ILip77SbmOE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 20em;
  ;height: 26em;;
  transform: translate(1%, 36%);
  /* border-radius: 6em; */
  filter: grayscale(1);
  transition: 2s;
}

.profile .dp:hover {
  filter: grayscale(0);
}

#info-container {
  position: absolute;
  z-index: 99999;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-6 19:49:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: cyan;
}
.about-header {
  width: 100%;
  height: 5em;
  /* background-color: aqua; */
}
.about-header p {
  transform: translate(9em, 0em);
  font-size: 40px;
  margin-top: 10px;
}
.personal-info {
  width: 100%;
  height: 30em;
  /* background-color:white; */
  display: flex;
  justify-content: flex-end;
}
.personal-details,
.personal-blocks {
  width: 39%;
  height: 79%;
  /* background-color:red; */
  display: flex;
  justify-content: space-evenly;
}
.personal-details {
  /* margin-right: 20px; */
  display: flex;
}

.personal-blocks {
  display: block;
}
.ls {
  margin: auto;
}
.ls li {
  padding-bottom: 10px;

  font-size: 15px;
}
.ls li b {
 color: rgb(77 181 90 / 98%);
}
.row {
  display: flex;
  width: 95%;
  margin-left: 10px;
  /* background-color: chartreuse; */
}
.colum {
  /* background-color: purple; */
  height: 10em;
  width: 100%;
  margin: 10px;
  text-align: center;
  /* background-color: bisque; */
}
#count,
.plus {
  font-size: 70px;
  font-family: monospace;
}
.line {
  position: relative;
  width: 50%;
  margin: auto;
  height: 1px;
  background-color: red;
  left: 10em;
}
.service-list {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
.service-list .row {
  position: relative;
  width: 75%;
  left: 21em;
}
.service-list .colum {
  width: 18em;
  height: 18em;
  display: block;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.007);
  border-radius: 30px;
}
.icon {
  width: 4em;
  height: 4em;
  /* background-color: black; */
  border-radius: 30em;
  margin: auto;
  margin-top: 2em;
}
.title-service {
  font-size: 2em;
  font-family: fantasy;
  margin: 1em 0em;
  color: #0aafaf;
}
.description {
  font-size: medium;
  font-family: monospace;
  font-weight: bolder;
  color: white;
}

.service-list .row :hover {
  background-color: rgba(0, 0, 0, 0);
  color: yellow;
}
.header{
  padding-left: 22em;
  margin-bottom: 2em;
  background-color: b;
}
.header h1{
  margin-top: 20px;
  font-family: monospace;
}
.services{
  background-color: black;
  color: white;
  
}
.contact{
  width: 100%;
  height: 100vh;
  background-color: black;
}
.contact-header{
  height: 3em;
  /* background-color: red; */
  padding-left: 22em;
  padding-top: 10px;
}
.contact-header h1{
  font-family: monospace;
  color: white;

}
.questions{
  height: 20em;
  transform: translate(10px,40%);
  /* background-color: red; */
  text-align: center;
  color: white;
}
.questions span{
  font-size: 50px;
  font-family: cursive;
}
.questions p{
  margin-top: 20px;
  font-size: 30px;
  font-family:monospace;
}
.contact-details{
  height: 10em;
  width: 76%;
  /* background-color: yellowgreen; */
  overflow: hidden;
  transform: translate(50vh,0vh);
  text-align: center;
  color: white;
}
.icon-contact{
  width: 5vh;
  /* background-color: blue; */
  height: 5vh;
  
}
.contact-title{
  width: 100%;
  height: 7vh;
  /* background-color: chocolate; */
}
.data{
  width: 100%;
  height: 10vh;
  /* background-color:darkgreen ; */
}
.location{
  background-image: url(https://img.icons8.com/stickers/50/000000/marker.png);
  background-position: center;
  background-size: cover;
}
.phone{
  background-image: url(https://img.icons8.com/stickers/100/000000/phone.png);
  background-position: center;
  background-size: cover;
}
.mail{
  background-image: url(https://img.icons8.com/stickers/100/000000/gmail-new.png);
  background-position: center;
  background-size: cover;
}
.website{
  background-image: url(https://img.icons8.com/stickers/100/000000/domain.png);
  background-position: center;
  background-size: cover;
}